<!DOCTYPE html>
<html >
<head>
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="styles/style.css" /> 

<script src="js/main.js"  type="text/javascript"></script> 


 <!--[if lt IE 9]>
	<link href="css/ie.css" rel="stylesheet" media="screen" type="text/css" />
	
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	
<![endif]-->



<title>Artica</title>
</head>

<body>
	<div class="wrap">
		<nav class = "main_navy d_blue">
			<p>Artica</p>
			<ul>
				<li><a href="" class="home">Home</a></li>
				<li><a href="" class="services">Services</a></li>
				<li><a href="" class="portfolio">Portfolio</a></li>
				<li><a href="" class="about_us">About</a></li>
				<li><a href="" class="skills">Blog</a></li>
				<li><a href="" class="clients">Clients</a></li>
				<li><a href="" class="contact">Contact</a></li>
				<li></li>
			</ul>
			<span class="close"><img src="img/close_icon.png" alt ="close" ></span>
		</nav>	
		
		<header>
			<div class="container white" id="home">
				<div class="page navigation clear">
					<a href="index.html" class="logo">Artica</a>
											
					<span class="menu_icon"></span>
				</div>
			</div>
			
			<div class="container l_blue">
				<div class="container blue">
					<div class="page description">
						<h1>Artica</h1>
						<p class="about">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttlit nisi, pretium ut lacinia in elementumestibulum ac diam sit anet.</p>
						<button class ="purshase_btn">Purshase Theme</button>
					</div>
					
				</div>
			</div>
			
		</header>
		
		<div class="container white" id="services">
			<section class="page our_services">	
				
				<h2>Fully layered and customize template</h2>
				<h4>Our services</h4>
				<p class="about">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
				
				<div class="clear">
				
					<article class = "service column_4">
						<img src="img/service_htmlcss.png">
						<h3>HTML&CSS </h3>
						<p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.</p>
					</article>
					
					<article class = "service column_4">
						<img src="img/service_design.png">
						<h3>Graphic design</h3>
						<p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.</p>
					</article>
					
					<article class = "service column_4">
						<img src="img/service_ontime.png">
						<h3>On time projects</h3>
						<p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.</p>
					</article>
					
					<article class = "service column_4">
						<img src="img/service_support.png">
						<h3>Fully suport</h3>
						<p>Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor.</p>
					</article>						
				</div>
			</section>
			
			<div class="container d_blue">
				<div class="page quote">	
					<p class = "about">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
					
					<p>Thomas J. Watson</p>
				</div>
			</div>
		</div>
		
		<section class="container portfolio white" id="portfolio">	
			<div class="page">
				
				<h2>Modern and clean design</h2>
				<h4>Our portfolio</h4>
				<p class="about">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
				
				<nav class = "portfolio_navy">
					<a href="" class="all active_item" >ALL</a>
					<a href="" class="graphic" >GRAPHIC</a>
					<a href="" class="web" >WEB</a>
					<a href="" class="photography" >PHOTOGRAPHY</a>
				</nav>
				
				<div class="job_examples">
					<div class="clear">
						<div class="example graphic column_4">
							<img src="img/example1.jpg" alt="example">
							<span class="l_blue"></span>
							<h3>Some Branding</h3>
							<p>Graphic Design</p>
						</div>
						<div class="example web column_4">
							<img src="img/example2.jpg" alt="example">
							<span class="l_blue"></span>
							<h3>Some Branding</h3>
							<p>Web Programming</p>
						</div>
						<div class="example photography column_4">
							<img src="img/example1.jpg" alt="example">
							<span class="l_blue"></span>
							<h3>Some Branding</h3>
							<p>Photography</p>
						</div>
						<div class="example graphic column_4">
							<img src="img/example2.jpg" alt="example">
							<span class="l_blue"></span>
							<h3>Some Branding</h3>
							<p>Graphic Design</p>
						</div>
					</div>
				</div>
			</div>
				
			<div class="container d_blue">
				<div class="page example_details clear">
					<span class="close"><img src="img/close_icon.png" alt ="close" ></span>
				</div>
			</div>
			
			<div class="page">	
				<div class="job_examples">
					<div class="clear">
						<div class="example web column_4">
							<img src="img/example2.jpg" alt="example">
							<span class="l_blue"></span>
							<h3>Some Branding</h3>
							<p>Web Programming</p>
						</div>
						<div class="example photography column_4">
							<img src="img/example1.jpg" alt="example">
							<span class="l_blue"></span>
							<h3>Some Branding</h3>
							<p>Photography</p>
						</div>
						<div class="example graphic column_4">
							<img src="img/example2.jpg" alt="example">
							<span class="l_blue"></span>
							<h3>Some Branding</h3>
							<p>Graphic Design</p>
						</div>	
						<div class="example web column_4">
							<img src="img/example1.jpg" alt="example">
							<span class="l_blue"></span>
							<h3>Some Branding</h3>
							<p>Web Programming</p>
						</div>
					</div>
				</div>
				
				<h2>We love our work</h2>
				
				<p class="about">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidun..</p>
				
				<button class ="purshase_btn">Purshase Theme</button>
			</div>	
		</section>
		
		<div class="container" id="about_us">
			<div class="container blue">
				<section class="page our_personal">
					<h2>Fully responsive design</h2>
					<h4>About us</h4>
					<p class="about">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
					
					<ul class="clear">
						
						<li class = "person column_4">
							<div>
								<img src="img/person1.jpg">
								<span></span>
								<a href=""></a>
							</div>
							<h3>John Doe</h3>
							<p>Creative Director</p>
						</li>						
						<li class = "person column_4">
							<div>
								<img src="img/person2.jpg">
								<span></span>
								<a href=""></a>
							</div>
							<h3>Lorem Ipsum</h3>
							<p>Graphic Designer</p>
						</li>
						<li class = "person column_4">
							<div>
								<img src="img/person3.jpg">
								<span></span>
								<a href=""></a>
							</div>
							<h3>Lorem Doe</h3>
							<p>Web Developer</p>
						</li>
						<li class = "person column_4">
							<div>
								<img src="img/person4.jpg">
								<span></span>
								<a href=""></a>
							</div>
							<h3>John Ipsum</h3>
							<p>Photographer</p>
						</li>	
												
				</section>
			</div>
			
			<div class="container d_blue" id="person_biography">
				<section class="page ">
					<div class="about_person ">
						<h3>My Store</h3>
						<p class="biography">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet. Oitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
						<p class="biography">Vestibulum ac diam sit anet. Oitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
						<p class="biography">Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim.  Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
						<p class="time_work">2 years in Artica</p>
						<p class="from">From NY</p>
						<span class="close"><img src="img/close_icon.png" alt ="close" ><span>
					</div>
					<div class="about_person" >
						<h3>My Store</h3>
						<p class="biography">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet. Oitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet. Vestibulum ac diam sit anet. Oitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
						<p class="time_work">5 years in Artica</p>
						<p class="from">From SA</p>
						<span class="close"><img src="img/close_icon.png" alt ="close" ><span>
					</div>
					<div class="about_person" >
						<h3>My Store</h3>
						<p class="biography">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
						<p class="biography">Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet. Vestibulum ac diam sit anet. Oitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
						<p class="time_work">10 years in Artica</p>
						<p class="from">From LA</p>
						<span class="close"><img src="img/close_icon.png" alt ="close" ><span>
					</div>
					<div class="about_person">
						<h3>My Store</h3>
						<p class="biography">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet. Oitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
						<p class="time_work">0.5 years in Artica</p>
						<p class="from">From Detroit</p>
						<span class="close"><img src="img/close_icon.png" alt ="close" ></span>
					</div>
					
				</section>
			</div>
		</div>
		
		<div class="container white" id="skills">
			<section class="page our_skills">
				<h2 >We have a skills</h2>
				<p class="about">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt.</p>
				
				<ul class="clear">
					<li class="column_2">
						<h3>Our Company</h3>
						<p >Cras ultricies ligula sed magna dictum porta. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Nulla porttitor accum san tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor situr arcu erat, accumsan id imperdiet et, porttitor at sem.</p>
						<button class ="purshase_btn">Read More</button>
					</li>
					
					<li class="column_2">
						<h3>Our Skills</h3>
						<ol>
							<li class="htmlSkill"><span>Html&Css</span></li>
							<li class="jsSkill"><span>Javascript</span></li>
							<li class="designSkill"><span>Design</span></li>
							<li class="photoSkill"><span>Photography</span></li>
						</ol>
					
					</li>
				</ul>
			</section>
		</div>
		
		<div class="container d_blue" id="clients">
			<section class="page our_customers">
				<h2>Our customers</h2>
				<p class="about">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt.</p>	
				<ul class="clear">
					<li class="column_6"><a href=""><img src="img/client1.png"></a></li>
					<li class="column_6"><a href=""><img src="img/client2.png"></a></li>
					<li class="column_6"><a href=""><img src="img/client3.png"></a></li>
					<li class="column_6 new_row"><a href=""><img src="img/client4.png"></a></li>
					<li class="column_6"><a href=""><img src="img/client5.png"></a></li>
					<li class="column_6"><a href=""><img src="img/client6.png"></a></li>
				</ul>
			</section>
		</div>
		
		<div class="container white" id="testimonials">
			<section class="page our_testimonials">
				<h2>Testimonials</h2>
				<ul id="lightSlider">
					<li>
						<p class="about">"Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi."</p>
						<h3>John Doe</h3>
					</li>
					<li>
						<p class="about">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quos officia ipsa nobis voluptas eaque voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quos officia ipsa nobis voluptas eaque voluptates"</p>
						<h3>Dou Jones</h3>
					</li>
					<li>
						<p class="about">"Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi."</p>
						<h3>John Doe</h3>
					</li>
                    <li>
                        <p class="about">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quos officia ipsa nobis voluptas eaque voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint quos officia ipsa nobis voluptas eaque voluptates"</p>
                        <h3>Dou Jones</h3>
                    </li>
				</ul>


			</section>
		</div>
	
		<div class="container d_blue" id="contact">
			<section class="page our_contact">
				<h2>Feel free to ask us anything</h2>
				<h4>Contact us</h4>
				<p class="about">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci dunt. Quisque velit nisi, pretium ut lacinia in, elemena porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit anet.</p>
				<ul class="clear">
					<li class = "column_3">
						<img src="img/contact_adress.png">
						<h3>Address</h3>
						<p class ="clear">Awesome Street 234,NY</p>
					</li>
					<li class = "column_3">
						<img src="img/contact_mail.png">
						<h3>Mail</h3>
						<p>articamail@mail.com</p>
					</li>
					<li class = "column_3">
						<img src="img/contact_phone.png">
						<h3>Phone</h3>
						<p>(000)123-456-789</p>
					</li>
				</ul>
				<div id="map"></div>
				<form>
					<input type="text" name="user_name" class="d_blue" value="Enter Name">
					<input type="text" name="user_mail" class="d_blue" value="Enter Mail">
					<input type="text" name="subject_message" class="d_blue" value="Enter Subject">
					<textarea class="d_blue" placeholder="Enter Message" rows="12"></textarea>
					<button class ="purshase_btn white" id="send_message">Send Message</button>
				</form>
			</section>
		</div>
		<footer class="container d_blue">
			<h2>Artica</h2>
			<p>© Copyright 2013 Artica. All Rights Reserved.</p>
		</footer>

		<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKNAq7aW_oSXfiuQvQQu0bnCF3BXgn70I&callback=initMap">
    	</script>
	</div>
</body>

</html>

